{% extends "MainTabla.html" %}
{% block content %}
<div class="table-responsive-md">
  <div class="col-md-5">

    <table class="table table-hover table-bordered">

      <thead class="thead-dark">
        <tr>
          <th scope="col">Título</th>
          <th scope="col">Año</th>
        </tr>
      </thead>

      <tbody>
        {% for l in lista %}
          <tr onmouseover="ChangeColor(this, true);"
              onmouseout="ChangeColor(this, false);"
              onclick="DoNav('https://localhost/pelis/visualizador/{{ l.id }}');">
            <td>{{ l.title }}</td><td>{{ l.year }}</td>
          </tr>
        {% endfor %}
      </tbody>

    </table>


  </div>
</div>

{% endblock %}
